
@{
    ViewBag.PageTitle = "Thankyou";
}

<h2>
    Registration Successful!!!!!!
</h2>

<div>
    <div>
        <span></span>
        <p>@ViewBag.ptitle</p>
        <br />
        <p>@ViewBag.title</p>
        <br />
        <p>@ViewBag.Name</p>
        <br />
        <p>@ViewBag.Gender</p>
        <br />
        <p>@ViewBag.ProfType</p>
        <br />
    </div>
    <h4>We Will Revert To You ASAP....</h4>
</div>